# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production
*.pem
*.key
credentials*.json
secrets*.json

# Vercel & Firebase
.vercel/
.firebase/

# Logs & Dumps
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.jar
*_diff.txt
*diff.txt
cookies-*.txt
tsc_*.txt
*.tsbuildinfo

# OS & Temp files
.DS_Store
Thumbs.db

